@{
    ViewBag.Title = "Resultado de ejercicio";
}

<div id="dvTabla">
    <table id="resultado">
        @{var oDatos = (List<string>)ViewData["Datos"]; }
        @foreach(var linea in oDatos)
        {
            <tr>
                @foreach(var letra in linea)
                {
                    <td>@letra</td>
                }
            </tr>
        }
    </table>
</div>
