@{
    ViewBag.Title = "Resultado de ejercicio";
}

<div id="dvTabla">
    <a href="/home/resolve/">
        <table id="resultado">
            @{var oDatos = (List<string>)ViewData["Datos"]; }
            @for (int linea = 0; linea < oDatos.Count; linea++)
            {
                if(linea == 0)
                {
                <tr>
                    <th></th>
                    @for (int letra = 0; letra < oDatos[linea].Length; letra++)
                    {
                        <th>@(letra)</th>
                    }
                </tr>
                }
                <tr>
                @for (int letra = 0; letra < oDatos[linea].Length; letra++)
                {
                    if (letra == 0)
                    {
                        <th>@(linea)</th>
                    }
                    <td>@oDatos[linea][letra]</td>
                }
                </tr>
            }
        </table>
    </a>
</div>
